In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [4]:
release_dates = pd.DataFrame.from_csv('data/release_dates.csv', index_col=None,
                                      parse_dates=['date'], infer_datetime_format=True)
release_dates.head()

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                 #Beings  2015      Romania 2015-01-29
2  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21
3                 #Horror  2015          USA 2015-11-20
4                 #Horror  2015           UK 2016-05-16

In [6]:
r = release_dates
r.head()

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                 #Beings  2015      Romania 2015-01-29
2  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21
3                 #Horror  2015          USA 2015-11-20
4                 #Horror  2015           UK 2016-05-16

In [7]:
r.date.dt.dayofweek

0         4
1         3
2         2
3         4
4         0
5         1
6         3
7         4
8         1
9         5
10        1
11        4
12        4
13        2
14        3
15        1
16        3
17        4
18        0
19        4
20        1
21        2
22        3
23        5
24        2
25        4
26        0
27        5
28        2
29        5
         ..
465184    3
465185    3
465186    3
465187    3
465188    3
465189    3
465190    3
465191    3
465192    3
465193    3
465194    3
465195    3
465196    3
465197    4
465198    4
465199    4
465200    4
465201    4
465202    4
465203    4
465204    4
465205    4
465206    4
465207    4
465208    4
465209    4
465210    4
465211    4
465212    4
465213    4
Name: date, dtype: int64

In [8]:
c = cast
c = c[c.name == "Ellen Page"]
c.merge(release_dates)

,title,year,name,type,character,n,country,date
0,An American Crime,2007,Ellen Page,actress,Sylvia Likens,1.0,Sweden,2007-12-07
1,An American Crime,2007,Ellen Page,actress,Sylvia Likens,1.0,Greece,2008-05-15
2,An American Crime,2007,Ellen Page,actress,Sylvia Likens,1.0,Spain,2008-06-13
3,An American Crime,2007,Ellen Page,actress,Sylvia Likens,1.0,Finland,2008-07-18
4,An American Crime,2007,Ellen Page,actress,Sylvia Likens,1.0,Mexico,2008-08-08
5,An American Crime,2007,Ellen Page,actress,Sylvia Likens,1.0,Brazil,2008-08-22
6,An American Crime,2007,Ellen Page,actress,Sylvia Likens,1.0,Panama,2008-11-14
7,An American Crime,2007,Ellen Page,actress,Sylvia Likens,1.0,Colombia,2009-10-16
8,An American Crime,2007,Ellen Page,actress,Sylvia Likens,1.0,Peru,2010-03-18
9,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Cambodia,2017-09-25
10,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Australia,2017-09-28
11,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Denmark,2017-09-28
12,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Hong Kong,2017-09-28
13,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Netherlands,2017-09-28
14,Flatliners,2017,Ellen Page,actress,Courtney,NaN,New Zealand,2017-09-28
15,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Singapore,2017-09-28
16,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Lithuania,2017-09-29
17,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Norway,2017-09-29
18,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Philippines,2017-09-29
19,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Poland,2017-09-29
20,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Sweden,2017-09-29
21,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Turkey,2017-09-29
22,Flatliners,2017,Ellen Page,actress,Courtney,NaN,UK,2017-09-29
23,Flatliners,2017,Ellen Page,actress,Courtney,NaN,USA,2017-09-29
24,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Argentina,2017-10-19
25,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Greece,2017-10-26
26,Flatliners,2017,Ellen Page,actress,Courtney,NaN,France,2017-11-22
27,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Germany,2017-11-23
28,Flatliners,2017,Ellen Page,actress,Courtney,NaN,Italy,2017-11-23
29,Freeheld,2015,Ellen Page,actress,Stacie Andree,2.0,Italy,2015-11-05
...,...,...,...,...,...,...,...,...
490,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Slovenia,2006-05-25
491,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Thailand,2006-05-25
492,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,UK,2006-05-25
493,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Uruguay,2006-05-25
494,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Brazil,2006-05-26
495,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Bulgaria,2006-05-26
496,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Canada,2006-05-26
497,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Colombia,2006-05-26
498,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Cyprus,2006-05-26
499,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Denmark,2006-05-26
500,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Estonia,2006-05-26
501,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Iceland,2006-05-26
502,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Ireland,2006-05-26
503,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Italy,2006-05-26
504,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Lithuania,2006-05-26
505,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Mexico,2006-05-26
506,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Panama,2006-05-26
507,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Poland,2006-05-26
508,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Romania,2006-05-26
509,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Spain,2006-05-26
510,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Turkey,2006-05-26
511,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,USA,2006-05-26
512,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Venezuela,2006-05-26
513,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,India,2006-06-02
514,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Republic of Macedonia,2006-06-10
515,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,South Korea,2006-06-15
516,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Taiwan,2006-06-16
517,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Vietnam,2006-08-04
518,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,China,2006-09-08
519,X-Men: The Last Stand,2006,Ellen Page,actress,Shadowcat,13.0,Japan,2006-09-09

### Make a bar plot of the months in which movies with "Christmas" in their title tend to be released in the USA.

### Make a bar plot of the months in which movies whose titles start with "The Hobbit" are released in the USA.

### Make a bar plot of the day of the week on which movies with "Romance" in their title tend to be released in the USA.

### Make a bar plot of the day of the week on which movies with "Action" in their title tend to be released in the USA.

### On which date was each Judi Dench movie from the 1990s released in the USA?

### In which months do films with Judi Dench tend to be released in the USA?

### In which months do films with Tom Cruise tend to be released in the USA?